PySide6
opencv-python
paddleocr==3.2.0
paddlepaddle==3.2.2

numpy
pandas

pyqtgraph

pydantic
PyYAML

SQLAlchemy

openpyxl
reportlab

cryptography

pytest
pytest-qt

mypy
black
flake8

pyinstaller

paddlex[ocr]